<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="module" src="/scripts/taskbarHandler.js"></script>
    <script type="module" src="/scripts/canvasHandler.js"></script>
    <script type="module" src="/scripts/layersHandler.js"></script>

    <title>PhotoEdits</title>
</head>
<body>
    <!-- Taskbar -->
    <div class="taskbar">
        <img id="icon" src="/images/icon.png">
        <div class="taskbarItem">
            <span>File</span>
            <ul class="taskbarItemDropdown">
                <li id="openFile">Open</li>
                <input id="uploadFile" type="file" accept="image/*" style="display: none;">
                <li id="quickExport">Quick Export</li>
                <li id="resize">Resize</li>
            </ul>
        </div>

        <div class="taskbarItem">
            <span>Edit</span>
            <ul class="taskbarItemDropdown">
                <li>Undo</li>
                <li>Redo</li>
            </ul>
        </div>

        <div class="taskbarItem">
            <span>Image</span>
            <ul class="taskbarItemDropdown">
                <li id="rotateImage">Rotate</li>
                <li>Rescale</li>
                <li>Crop</li>
            </ul>
        </div>

        <div class="taskbarItem">
            <span>Filter</span>
            <ul class="taskbarItemDropdown">
                <li>Gaussian Blur</li>
                <li>Sharpen</li>
                <li class="taskbarItemDropdownContainsSubmenu">Filter Gallery ▶
                    <ul class="taskbarItemDropdownIsSubmenu">
                        <li id="greyscale">Greyscale</li>
                        <li id="sepia">Sepia</li>
                        <li>Equalization</li>
                        <li>Negative</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /Taskbar -->

    <!-- Taskbar Modules -->
    <div class="resizeModule" id="resizeModule">
        <div class="taskbarModuleTitle">
                <p>Resize</p>
                <button class="taskbarModuleClose" id="cancelResize">x</button>
        </div>
        <div class="taskbarModuleContent">
                <div class="taskbarModuleOneLine">
                    <p>Width</p>
                    <input type="number" type="text" placeholder="pixels" id="resizeWidth">
                </div>
                <div class="taskbarModuleOneLine">
                    <p>Height</p>
                    <input type="number" type="text" placeholder="pixels" id="resizeHeight">
                </div>
                <div class="taskbarModuleOneLine">
                    <p>Constrained</p>
                    <input type="checkbox" id="constrainedCheckbox">
                </div>
                <div class="taskbarModuleOneLine" id="resizeScaleDIV" style="display: none;">
                    <p>Scale</p>
                    <input type="number" min="0" max="5" value="1" step=".1" id="resizeScale">
                </div>
                <div class="taskbarModuleOneLine">
                  <p>Interpolation</p>
                  <select id="interpolationType">
                    <option value="Default">Default</option>
                    <option value="Nearest Neighbour">Nearest Neighbour</option>
                    <option value="Bilinear">Bilinear</option>
                  </select>
                </div>
        </div>
        <button class="taskbarModuleSubmit" id="resizeSubmit">Resize</button>
    </div>

    <!-- Wrapper For Image And Layer Modules-->
    <div class="wrapImageAndLayerModules">
        <!-- Image Module -->
        <div class="imageModule">
            <!-- Image Viewing Module -->
            <div class="imageViewingModule">
                <div id="imageCanvasDiv">
                    <canvas id="imageCanvas"></canvas>
                </div>
            </div>
            <!-- /Image Viewing Module -->
            <!-- Modules That Provide Image Context And Data -->
            <div class="contextModules">
                <!-- Image Data Module -->
                <div class="imageDataModule">
                    <div class="imageDataModuleSection">
                        <p class="sectionLabel" id="titleName"></p>
                        <p class="sectionValue" id="imageName"></p>
                    </div>
                    <div class="imageDataModuleSection">
                        <p class="sectionLabel" id="titleDimensions"></p>
                        <p class="sectionValue" id="imageDimensions"></p>
                    </div>
                    <div class="imageDataModuleSection">
                        <p class="sectionLabel" id="titleExtension"></p>
                        <p class="sectionValue" id="imageExtension"></p>
                    </div>
                </div>
                <!-- /Image Data Module -->
            </div>
            <!-- /Modules That Provide Image Context And Data -->
        </div>

        <!-- Layers Module -->
        <div class="layersModule">
            <div id="currentLayerSelector">
                <!-- This area should be dynamically populated with a filters parameters for quick edits. -->
            </div>
            <div id="layersSelector">
                <ul id="layersList">
                    <!-- Layers added here. -->
                </ul>
            </div>
            <div id="layersControls">
                <button id="addLayer">Add Layer</button>
                <button id="deleteLayer">Delete Layer</button>
            </div>
        </div>
        <!-- /Layers Module -->
    
    </div>
    <!-- /Wrapper For Image And Layer Modules-->
</body>
</html>