@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Italic.woff2') format('woff2'),
        url('/assets/fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.taskbar {
    display: flex;
    background-color: #2d2d2d;
}

#icon {
    position: relative;
    padding: 10px;
}

.taskbarItem {
    position: relative;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-left: 5px;
}

.taskbarItem:hover {
    background-color: #3d3d3d;
}

.taskbarItem span {
    padding-right: 100px;
}

.taskbarItem:hover .taskbarItemDropdown {
    display: block;
}

.taskbarItemDropdown {
    display: none;
    position: absolute;
    top: 38px;
    background-color: #2d2d2d;
    width: 100%;
}

.taskbarItemDropdown li {
    padding: 10px;
    color: white;
    cursor: pointer;
    position: relative;
}

.taskbarItemDropdown li:hover {
    background-color: #3d3d3d;
}

.taskbarItemDropdownContainsSubmenu:hover .taskbarItemDropdownIsSubmenu {
    display: block;
}

.taskbarItemDropdownIsSubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: #2d2d2d;
    list-style-type: '▶';
}

.taskbarItemDropdownIsSubmenu li {
    color: white;
    cursor: pointer;
}

.taskbarItemDropdownIsSubmenu li:hover {
    background-color: #3d3d3d;
}
