@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Italic.woff2') format('woff2'),
        url('/public/fonts/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

/* Taskbar */
.taskbar {
    display: flex;

    margin: 0;
    padding: 0;

    background-color: #2d2d2d;
}

#icon {
    position: relative;

    padding: 10px;
}

.taskbarItem {
    z-index: 5;

    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-left: 5px;
    cursor: pointer;

    color: white;
}

.taskbarItem:hover {
    background-color: #3d3d3d;
}

.taskbarItem span {
    padding-right: 100px;
}

.taskbarItem:hover .taskbarItemDropdown {
    display: block;
}

.taskbarItemDropdown {
    display: none;
    position: absolute;

    list-style-type: none;

    top: 38px;
    width: 100%;

    background-color: #2d2d2d;

}

.taskbarItemDropdown li {
    position: relative;

    padding: 10px;
    cursor: pointer;

    color: white;
}

.taskbarItemDropdown li:hover {
    background-color: #3d3d3d;
}

.taskbarItemDropdownContainsSubmenu:hover .taskbarItemDropdownIsSubmenu {
    display: block;
}

.taskbarItemDropdownIsSubmenu {
    display: none;
    position: absolute;

    top: 0;
    left: 100%;
    width: 100%;

    background-color: #2d2d2d;
}

.taskbarItemDropdownIsSubmenu li {
    list-style-type: none;
    cursor: pointer;

    color: white;
}

.taskbarItemDropdownIsSubmenu li:hover {
    background-color: #3d3d3d;
}
/* Taskbar End */



/* Image Viewing Module */
.imageViewingModule {
    z-index: 1;

    display: flex;
    justify-content: space-between;
    overflow: auto;

    height: 80vh;    
    width: 100vw;

    border: 2px solid #ff0000;
    background-color: #4d4d4d;
}

/* This is calculated when the image is loaded in. */
#imageCanvasDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageCanvas {
    max-width: 100%;
    max-height: 100%;

    border: 2px solid #37ff00;
}

#layersSelector {
    position: relative;

    min-width: 20%;
    max-width: 20%;
    
    border: 2px solid #00e1ff;
    background-color: #5d5d5d;
}
/* Image Viewing Module End */